.InputLabel{
    text-align: start;
    margin-left: 10%;
    color: rgb(103, 103, 103);
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 20px;
}

.InputDer{
    width: 80%;
    padding: 12px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccccccb0;
    border-radius: 8px;
    align-self: center;
    background-color: #615e5e8e;
    color: rgba(14, 14, 14, 0.656);
    font-size: 20px;
    border-color: rgb(245, 233, 217);

}

.InputDer::placeholder {
    color: #1a1919b4;
}